apiVersion: v1
kind: ConfigMap
metadata:
  name: admin-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: admin
    dubbo.io/rev: {{ default "default" | quote }}
    install.operator.dubbo.io/owning-resource: {{ default "unknown" }}
    operator.dubbo.io/component: "Admin"
    dubbo: admin
    release: {{ .Release.Name }}
    app.kubernetes.io/name: "dashboard"
data:
  dubbo-cp.yaml: |-
    # Support multi deploy status, see https://github.com/apache/dubbo-kubernetes/blob/master/README.md
    # Available options: k8s(not supported yet), half, universal
    deployMode: half
    # Support multi-cluster
    # Available options: zone, global(not supported yet)
    mode: zone
    store:
      # Traditional Store support nacos and zookeeper
      traditional:
        registry:
          address: nacos://47.76.94.134:8848?username=nacos&password=nacos
        configCenter:
          address: nacos://47.76.94.134:8848?username=nacos&password=nacos
        metadataReport:
          address: nacos://47.76.94.134:8848?username=nacos&password=nacos
    admin:
      # metric and trace grafana dashboards
      metricDashboards:
        application:
          baseURL: http://47.76.81.123:3000/d/a0b114ca-edf7-4dfe-ac2c-34a4fc545fed/application
        instance:
          baseURL: http://47.76.81.123:3000/d/dcf5defe-d198-4704-9edf-6520838880e9/instance
        service:
          baseURL: http://47.76.81.123:3000/d/ec689613-b4a1-45b1-b8bd-9d557059f970/service/
      traceDashboards:
        application:
          baseURL: http://47.76.81.123:3000/d/e968a89b-f03d-42e3-8ad3-930ae815cb0f/application
        instance:
          baseURL: http://47.76.81.123:3000/d/f5f48f75-13ec-489b-88ae-635ae38d8618/instance
        service:
          baseURL: http://47.76.81.123:3000/d/b2e178fb-ada3-4d5e-9f54-de99e7f07662/service
      prometheus: http://8.218.148.84:9090
      # grafana should custom configs below:
      # [server]
      # root_url = %(protocol)s://%(domain)sï¼š%(http_port)s/grafana
      # allowed_origins = *
      # serve_from_sub_path = true
      # [security]
      # allow_embedding = true
      # [auth.anonymous]
      # enabled = true
      grafana: http://47.76.81.123:3000/
      auth:
        user: admin
        password: Dubbo@2025
        expirationTime: 7200