{{ $admin := .Values }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: {{ .Release.Namespace }}
  labels:
    app: admin
    dubbo.io/rev: {{ default "default" | quote }}
    install.operator.dubbo.io/owning-resource: {{ default "unknown" }}
    operator.dubbo.io/component: "Admin"
    dubbo: admin
    release: {{ .Release.Name }}
    app.kubernetes.io/name: "dashboard"
spec:
  replicas: {{ $admin.replicas }}
  strategy:
    rollingUpdate:
      maxSurge: {{ $admin.rollingMaxSurge }}
      maxUnavailable: {{ $admin.rollingMaxUnavailable }}
  selector:
    matchLabels:
      app: admin
      dubbo.io/rev: {{ default "default" | quote }}
      dubbo: admin
  template:
    metadata:
      labels:
        app: admin
        dubbo.io/rev: {{ default "default" | quote }}
        install.operator.dubbo.io/owning-resource: {{ default "unknown" }}
        operator.dubbo.io/component: "Admin"
        dubbo: admin
        release: {{ .Release.Name }}
        app.kubernetes.io/name: "dashboard"
    spec:
      {{- include "admin.pod" . | nindent 6 }}
