apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: {{ .Release.Namespace }}
  labels:
    app: admin
    dubbo.apache.org/rev: {{ default "default" | quote }}
    install.operator.dubbo.apache.org/owning-resource: {{ default "unknown" }}
    operator.dubbo.apache.org/component: "Admin"
    dubbo: admin
    release: {{ .Release.Name }}
    app.kubernetes.io/name: "dashboard"
spec:
  ports:
  - name: http
    port: 8888
    targetPort: 8888
  selector:
    app: admin