apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: nacos
  namespace: {{ .Release.Namespace }}
  labels:
    app: nacos
    dubbo.apache.org/rev: {{ default "default" | quote }}
    install.operator.dubbo.apache.org/owning-resource: {{ default "unknown" }}
    operator.dubbo.apache.org/component: "Nacos"
    dubbo: nacos
    release: {{ .Release.Name }}
    app.kubernetes.io/name: "register"
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: nacos
      dubbo.apache.org/rev: {{ default "default" | quote }}
      dubbo: nacos
