## Apache Admin for Kubernetes

Admin is an application within the service governance control plane
responsible for functions such as service governance and visual representation of microservice clusters.


