# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: dubbo-planet
    chart: dubbo
    heritage: Tiller
    release: dubbo
  name: subsetrules.networking.dubbo.apache.org
spec:
  group: networking.dubbo.apache.org
  names:
    categories:
      - dubbo
      - networking
    kind: SubsetRule
    listKind: SubsetRuleList
    plural: subsetrules
    shortNames:
      - ssr
    singular: subsetrules
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: The name of a service from the service registry
          jsonPath: .spec.host
          name: Host
          type: string
        - description: CreationTimestamp is a timestamp representing the server time when
            this object was created. It is not guaranteed to be set in happens-before
            order across separate operations. Clients may not set this value. It is represented
            in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for
            lists. For more information, see [Kubernetes API Conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#metadata)
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            spec:
              description: 'Configuration related to load balancing and traffic policies.'
              properties:
                exportTo:
                  description: A list of namespaces to which this subset rule is exported.
                  items:
                    type: string
                  type: array
                host:
                  description: The name of a service from the service registry.
                  type: string
                subsets:
                  description: One or more named sets that represent individual versions of a service.
                  items:
                    properties:
                      labels:
                        additionalProperties:
                          type: string
                        description: Labels apply a filter over the endpoints of a service in the service registry.
                        type: object
                      name:
                        description: Name of the subset.
                        type: string
                      trafficPolicy:
                        description: Traffic policies that apply to this subset.
                        properties:
                          tls:
                            description: TLS related settings for connections to the
                              upstream service.
                            properties:
                              mode:
                                description: |-
                                  Indicates whether connections to this port should be secured using TLS.
                                  
                                  Valid Options: DISABLE, SIMPLE, MUTUAL, DUBBO_MUTUAL
                                enum:
                                  - DISABLE
                                  - SIMPLE
                                  - MUTUAL
                                  - DUBBO_MUTUAL
                                type: string
                            type: object
                        type: object
                    required:
                      - name
                    type: object
                  type: array
                trafficPolicy:
                  description: Traffic policies to apply (load balancing policy, connection
                    pool sizes, outlier detection).
                  properties:
                    tls:
                      description: TLS related settings for connections to the upstream service.
                      properties:
                        mode:
                          description: |-
                            Indicates whether connections to this port should be secured using TLS.
                            
                            Valid Options: DISABLE, SIMPLE, MUTUAL, DUBBO_MUTUAL
                          enum:
                            - DISABLE
                            - SIMPLE
                            - MUTUAL
                            - DUBBO_MUTUAL
                          type: string
                      type: object
                  type: object
              required:
                - host
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: dubbo-planet
    chart: dubbo
    heritage: Tiller
    release: dubbo
  name: serviceroutes.networking.dubbo.apache.org
spec:
  group: networking.dubbo.apache.org
  names:
    categories:
      - dubbo
      - networking
    kind: ServiceRoute
    listKind: ServiceRouteList
    plural: serviceroutes
    shortNames:
      - sr
    singular: serviceroute
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: The subset hosts to which traffic is being sent
          jsonPath: .spec.hosts
          name: Hosts
          type: string
        - description: 'CreationTimestamp is a timestamp representing the server time
        when this object was created. It is not guaranteed to be set in happens-before
        order across separate operations. Clients may not set this value. It is represented
        in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for
        lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata'
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            spec:
              description: 'Configuration related to label-based routing.'
              properties:
                exportTo:
                  description: A list of namespaces to which this service route is
                    exported.
                  items:
                    type: string
                  type: array
                hosts:
                  description: The subset hosts to which traffic is being sent.
                  items:
                    type: string
                  type: array
                http:
                  description: An ordered list of route rules for HTTP traffic.
                  items:
                    properties:
                      route:
                        description: A HTTP rule can either return a direct_response,
                          redirect or forward (default) traffic.
                        items:
                          properties:
                            subset:
                              description: Subset uniquely identifies the instances
                                of a service to which the request/connection should
                                be forwarded to.
                              properties:
                                host:
                                  description: The name of a service from the service registry.
                                  type: string
                                port:
                                  description: Specifies the port on the host that is being addressed.
                                  properties:
                                    number:
                                      maximum: 4294967295
                                      minimum: 0
                                      type: integer
                                  type: object
                                subset:
                                  description: The name of a subset within the service.
                                  type: string
                              required:
                                - host
                              type: object
                            weight:
                              description: Weight specifies the relative proportion
                                of traffic to be forwarded to the subset.
                              format: int32
                              type: integer
                          required:
                            - subset
                          type: object
                        type: array
                    type: object
                  type: array
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: dubbo-planet
    chart: dubbo
    heritage: Tiller
    release: dubbo
  name: peerauthentications.security.dubbo.apache.org
spec:
  group: security.dubbo.apache.org
  names:
    categories:
      - dubbo
      - security
    kind: PeerAuthentication
    listKind: PeerAuthenticationList
    plural: peerauthentications
    shortNames:
      - pa
    singular: peerauthentication
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: Defines the mTLS mode used for peer authentication.
          jsonPath: .spec.mtls.mode
          name: Mode
          type: string
        - description: 'CreationTimestamp is a timestamp representing the server time
        when this object was created. It is not guaranteed to be set in happens-before
        order across separate operations. Clients may not set this value. It is represented
        in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for
        lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata'
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            spec:
              description: 'Peer authentication configuration for workloads.'
              properties:
                mtls:
                  description: Mutual TLS settings for workload.
                  properties:
                    mode:
                      description: |-
                        Defines the mTLS mode used for peer authentication.
                        
                        Valid Options: DISABLE, PERMISSIVE, STRICT
                      enum:
                        - UNSET
                        - DISABLE
                        - PERMISSIVE
                        - STRICT
                      type: string
                  type: object
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
